<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%= @title || @blog.title %></title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
</head>
<body>
	<div id="doc4" class="yui-t2">
		<div id="hd" role="banner">
			<h1><%= @blog.title %> - <%= @blog.tagline %></h1>
		</div>
		<div id="bd" role="main">
			<div id="yui-main">
				<div class="yui-b">    
					<div class="yui-gb">
						<div class="yui-u first">
							First Box
						</div>
						<div class="yui-u">
							Second Box
						</div>
						<div class="yui-u">
							Third Box
						</div>
					</div>
					<div class="yui-g">
						<%= yield %>
					</div>
				</div>
			</div>
			<div class="yui-b">
				Navigation
			</div>
		</div>
		<div id="ft" role="contentinfo">
			<p>&copy; 2009 <%= @blog.users.join(",") %> - Powered by Sinatra, Sequel, Maruku, and Splam.</p>
		</div>
	</div>
</body>
</html>

