<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><%= h(@title || @blog.title) %></title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
	<link rel="alternate" type="application/rss+xml" title="<%= h(@blog.title) %> RSS Feed" href="<%= rss_feed(@blog) %>" />
</head>
<body>
	<div id="header">
		<div class="inside">
			<div id="search">
				<form method="get" id="sform" action="/">
 					<div class="searchimg"></div>
					<input type="text" id="q" name="s" size="15" />
				</form>
			</div>
			
			<h2><a href="/"><%= h(@blog.title) %></a></h2>
			<p class="description"><%= h(@blog.tagline) %></p>
		</div>
	</div>
	
	<%= yield %>

	<hr class="hide" />
	<div id="footer">
		<div class="inside">
			<p class="copyright">Powered by <a href="http://warpspire.com/hemingway" rel="designer">Hemingway</a> flavored <a href="http://github.com/whoisjake/thoughts/tree/master">thoughts</a>.</p>
			<p class="attributes"><a href="<%= rss_feed(@blog) %>">Entries RSS</a> <a href="<%= comments_feed(@blog) %>">Comments RSS</a></p>
		</div>
	</div>
</body>
</html>