<div id="primary" class="twocol-stories">
	<div class="inside">
		<% @posts.each_with_index do |post,index| %>
		<div class="story <%= (index == 0) ? 'first' : nil %>">
			<h3><a href="<%= post.permalink %>" rel="bookmark" title="Permanent Link to <%= post.title %>"><%= post.title %></a></h3>
			<%= post.body %>
			<div class="details">
				Posted at <%= post.published_at.strftime("%I:%M%p on %m/%d/%Y") %> by <%= post.user.name %> | <a href="<%= post.permalink %>">(<%= post.comments.size %>) Comments</a> | Tagged: <%= post.tags.join(", ") %> | <span class="read-on"><a href="<%= post.permalink %>">read on</a></span>
			</div>
		</div>
		<% end %>
	</div>
		<div class="clear"></div>
	</div>
</div>

<hr class="hide" />
<div id="ancillary">
	<div class="inside">
		<div class="block first">
			first
		</div>
		
		<div class="block">
			second
		</div>
		
		<div class="block">
			third
		</div>
		
		<div class="clear"></div>
	</div>
</div>